name: Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0
      - name: Fetch tags
        run: git fetch --tags --force
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install common dependencies
        run: |
          chmod +x ./scripts/install/install_common.sh
          ./scripts/install/install_common.sh
      - name: Install dependencies
        run: cargo build --release
      - name: Run tests
        run: cargo test --release
